# Prerequisites
*.d

# ignore path

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch

# Compiled Dynamic libraries
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la


# Executables
*.exe
*.out
*.app
*.db
*.opendb
*.idb
*.pdb
*.cache
*.log

/ClientComponent/GameCore/jinhua/proj.win32/.vs/jinhua/v14
/ClientComponent/GameCore/jinhua/proj.win32/Debug.win32
/ServerComponent/Core/.vs/Core/v14
/ClientComponent/GameCore/jinhua/cocos2d/cocos/2d/Debug.win32/libcocos2d.tlog
/ClientComponent/GameCore/jinhua/cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32/libSpine.tlog
/ClientComponent/GameCore/jinhua/cocos2d/external/recast/proj.win32/Debug.win32/librecast.tlog
/ClientComponent/GameCore/jinhua/cocos2d/external/bullet/proj.win32/Debug.win32/libbullet.tlog
/ClientComponent/GameCore/jinhua/cocos2d/external/Box2D/proj.win32/Debug.win32/libbox2d.tlog
/ServerComponent/bin
/ServerComponent/CenterServer/.vs/CenterServer/v14
/ServerComponent/CenterServer/x64/Release/CenterServer.tlog
/ServerComponent/Core/x64/Release/Core.tlog
/ServerComponent/Core/x64/Release
/ServerComponent/RoomServer/.vs/RoomServer/v14
/ServerComponent/RoomServer/x64/Release
/ClientComponent/GameCore/jinhua/proj.android-studio/.idea
/ClientComponent/GameCore/jinhua/cocos2d/cocos/platform/android/libcocos2dx/build
/ClientComponent/GameCore/jinhua/cocos2d/cocos/platform/android/libcocos2dx
